<a href="https://colab.research.google.com/github/yeneua/2022-1/blob/main/6-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

print("hello world !")

hello world !

In [ ]:
sum = 0
for i in range(10):
  sum+=i

print(sum)

45

In [ ]:
# 파이썬 기초

In [ ]:
# 자료유형 다루기 연습

In [ ]:
### 데이터 유형
# 숫자형 - 정수 실수
# 문자형
# 리스트
# 튜플
# 집합
# 사전(dictionary)
# 논리/boolean

In [ ]:
# 숫자형 - 정수(integer)

In [ ]:
a = 123
b = -123.4
a + b  # => -0.4000000000000057 : 컴퓨터상의 계산. 조금씩 다를 수 있음

-0.4000000000000057

In [ ]:
c = 0o34 #8진수
d = 0o25 #8진수 (octal)
c + d

49

In [ ]:
e = 0x2A #10진수
f = 0xFF
e + f

297

문자열

In [ ]:
S = 'Donga MIS' #문자가 할당됨
S1 = "Donga MIS"
S2 = '"Donga MIS"' #따옴표까지 문자로 인식
S3 = ''"Donga MIS"'' #문자만 출력. 따옴표 빼고
print(S)
print(S1)
print(S2)
print(S3)

Donga MIS
Donga MIS
"Donga MIS"
Donga MIS

In [ ]:
S4 = '123' #문자형이다
print(S4, type(S4))

123 <class 'str'>

In [ ]:
a = 'Donga'
b = 'MIS'
print(a + b) #붙어서 출력
print(a, b) #중간에 띄워쓰기
print(a, '', b) #중간에 띄워짐

DongaMIS
Donga MIS
Donga  MIS

In [ ]:
print(S*3) #S를 3번 연달아 출력

Donga MISDonga MISDonga MIS

In [ ]:
a = 'Donga Management Information System' #파이썬 인덱스 : 0부터 시작
print(a[3]) #[] : 데이터에 접근할 때, 요소에 접근할 때
print(a[-3]) #뒤에서부터
print(a[-1]) # => m 출력됨. 뒤에서부터 할 땐, -1이 제일 뒤에 요소 가리킴
print(a[-3:-1]) # -3 ~ -2출력
print(a[3:8]) #=> ga Ma 출력됨. 범위 지정. 3~7까지 출력. 빈칸도 하나의 요소
print(a[4:]) #4부터 출력
print(a[:4]) #3까지 출력
# 인덱싱, 슬라이싱

g
t
m
te
ga Ma
a Management Information System
Dong

리스트 - 순서가 존재, 여러 타입의 데이터 가능

In [ ]:
a = [1,2,3,4,5] #리스트 형태로 저장
print(a)
print(a[0]) # 인덱스 0인것 출력
print(a[0:5])
print(a[:5])
print(a[2:])

[1, 2, 3, 4, 5]
1
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 4, 5]

In [ ]:
a.append(6) #추가. a리스트에 append
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a[0] = 0 #a[0]을 0으로 변경
print(a)

[0, 2, 3, 4, 5, 6]

In [ ]:
del a[1] #인덱스 1 삭제
print(a)

[0, 3, 4, 5, 6]

In [10]:
a = [1, 2]
b = [3, 4, 5]
c = a + b
print(c) #리스트 더하기

[1, 2, 3, 4, 5]

In [ ]:
d = a*3 #리스트 반복
print(d)

[1, 2, 1, 2, 1, 2]

In [11]:
a - b #TypeError : unsupported operand type for -: 'list' and 'list'

TypeError: ignored

튜플 - 리스트와 같지만. 삭제, 수정, 생성 불가. 소괄호

In [ ]:
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
print(t[1]) #인덱스 1출력. 요소 추출할때, 요소에 접근할 때 대괄호

2

In [ ]:
print(t[0:4]) #t의 인덱스0~인덱스3까스

(1, 2, 3, 4)

In [ ]:
t1 = t[0:4] #뽑아서 다른 곳에 저장
print(t1)

(1, 2, 3, 4)

In [ ]:
a = (1,2)
b = (3,4,5)
c = a+b #합치는 것은 가능
print(c)

(1, 2, 3, 4, 5)

In [ ]:
d = a*3 # 반복
print(d)

(1, 2, 1, 2, 1, 2)

In [ ]:
name = ('David', 'Kim')
print(name) #변경불가. 개인정보 관련 데이터에 사용하면 좋을듯. 안정적인 데이터 관리
print(type(name)) #<class 'tuple'>

('David', 'Kim')
<class 'tuple'>

In [3]:
firstname, lastname = ('David', 'Kim') #firstname, lastname 변수 각각에 값을 넣어줌
print(lastname,'', firstname)
print(type(lastname)) # 오잉. 문자형인디 ?

Kim  David
<class 'str'>

In [4]:
print(firstname)

David

In [7]:
print(lastname)

Kim

In [8]:
print(type(firstname))

<class 'str'>

In [9]:
print(type(lastname))

<class 'str'>

집합 - 중괄호, 순서X

In [ ]:
set = {1, 1, 2, 3, 3}
print(set) #중복된 것 제외하고 출력됨

{1, 2, 3}

In [ ]:
set = {1, 2, 3}#
set.add(4) #추가
set

{1, 2, 3, 4}

In [ ]:
set.update({5,6,7}) #값 여러개 추가
set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
set.remove(1) #값이 1인 것을 지움. 순서가 없다 !!. 1은 순서가 아니라 값을 의미
set

{2, 3, 4, 5, 6, 7}

In [ ]:
set.clear()#모두 지움
set

set()

In [13]:
a = {1,2,3}
b = {1,3,4}

c = a&b #교집합
print(c)

d = a|b #합집합
print(d)

e = a - b #차집합
print(e)

{1, 3}
{1, 2, 3, 4}
{2}

In [14]:
print(c, d, e)

{1, 3} {1, 2, 3, 4} {2}

dictionary - key, value가 하나로 이루어져있음(하나의 세트.쌍)

In [15]:
dic = {'Kim' : 90, 'Jung' : 80, 'Park' : 75}
print(dic)

{'Kim': 90, 'Jung': 80, 'Park': 75}

In [ ]:
dic['Kim'] #요소에 접근할 때는 대괄호

90

In [16]:
dic['Jung'] = 85 #값 변경
print(dic)

{'Kim': 90, 'Jung': 85, 'Park': 75}

In [17]:
dic['Cho'] = 95 #값 추가
print(dic)

{'Kim': 90, 'Jung': 85, 'Park': 75, 'Cho': 95}

In [18]:
del dic['Park'] #삭제
print(dic)
# dictinary에서 요소에 접근할때는 key와 value로 !!

{'Kim': 90, 'Jung': 85, 'Cho': 95}

In [ ]:
print(dic.keys()) #key값들 전부 가져오기

dict_keys(['Kim', 'Jung', 'Cho'])

In [ ]:
print(dic.values()) #value값 전부 가져오기

dict_values([90, 85, 95])

In [20]:
print(dic.items())

dict_items([('Kim', 90), ('Jung', 85), ('Cho', 95)])

(dictionary)
접근시 -> 대괄호 !!
제품의 일련번호와 가격, 가게의 메뉴 등과괕은 db 구축할때 쓰임. key와 value가 대응

if, for, while문

In [ ]:
# 5000이상 있으면 택시, 3000원이면 ktx, 그 이하면 걸어가기 .. 돈 -> 알려주고 싶다

money = 4000

if money >= 5000: # == : 같다는 의미
  print("KTX 타삼")
elif money >= 3000:
  print("택시 타삼")
else:
  print("걸어가라")
# 중간에는 elif, 처음엔 if, 마지막엔 else

택시 타삼

In [ ]:
sum = 0 #초기화. 초기값지정
for i in range(11): #0~10(11-1)까지, 1씩 증가
  sum = sum + i #누적합
print(sum)

55

In [ ]:
list = ['Donga', 'mis', 'python']
for s in list:
  print(s)

Donga
mis
python

In [ ]:
i = 0
while i < 10: #9까지 실행
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
food = ['apple', 'banana', 'coffee', 'bread']
i=0
while i < len(food): #len : 길이.
  print(i, food[i])
  i+=1

0 apple
1 banana
2 coffee
3 bread